## Exercise 1
Fork the Github repository and create a new Jupyter Notebook.

## Exercise 2
Load the CSV (wine-ratings-small.csv) file in the notebook from your forked repository.

In [108]:
import pandas as pd

In [109]:
df = pd.read_csv("sample_data/wine-ratings-small.csv")
df.head()

,Unnamed: 0,name,grape,region,variety,rating,notes
0,0,Laurenz V Charming Gruner Veltliner 2013,NaN,"Kamptal, Austria",White Wine,90.0,Aromas of ripe apples and a typical Veltliner ...
1,1,Laurenz V Charming Gruner Veltliner 2014,NaN,"Kamptal, Austria",White Wine,90.0,Aromas of ripe apples and a typical Veltliner ...
2,2,Laurenz V Singing Gruner Veltliner 2007,NaN,Austria,White Wine,90.0,"A very attractive fruit bouquet yields apple, ..."
3,3,Laurenz V Singing Gruner Veltliner 2010,NaN,Austria,White Wine,88.0,"A very attractive fruit bouquet yields apple, ..."
4,4,Laurenz V Singing Gruner Veltliner 2011,NaN,Austria,White Wine,88.0,"A very attractive fruit bouquet yields apple, ..."

## Exercise 3
Use a distinct field to retrieve data, like:

a) Type of wine (red or white)

In [110]:
# create a filter for white wine
maska = df["variety"]=='White Wine'

### b)
Wine score range or baseline (e.g. between 90 and 92 points)

In [111]:
# check stats of rating
df["rating"].describe()

count    780.000000
mean      91.415385
std        1.928576
min       85.000000
25%       90.000000
50%       91.000000
75%       93.000000
max       99.000000
Name: rating, dtype: float64

In [112]:
# create a filter for the ratings 90-92
maskb = ((df["rating"]>90) & (df["rating"]<92))

c) Region

In [92]:
# create a filter for the region Austria
maskc = (df["region"]=='Austria')

In [113]:
# put together filters for wine type, rating 90-92 and region
mask = (maska & maskb & maskc)
df[mask]

,Unnamed: 0,name,grape,region,variety,rating,notes
679,679,Leth Steinagrund Gruner Veltliner 2010,NaN,Austria,White Wine,91.0,The nose combines spice with a reductive fruit...
681,681,Leth Steinagrund Gruner Veltliner 2015,NaN,Austria,White Wine,91.0,The nose combines spice with a reductive fruit...

## Exercise 4
Capture every row that matches your condition, and after processing, save everything to a formatted new JSON file

In [114]:
import json

# transform df to JSON
pd.DataFrame.to_json(df[mask], path_or_buf="sample_data/new wine-rating.json")

## Exercise 5
Create a Demo project in GitHub with a README.md that describes what you did.

In [116]:
# demo project can be found here: https://github.com/SebastianKnigge/Scripting-with-Python-Demo_Project